body {
}

footer{
    position: fixed;
    width: 100%;
    left: 0px;
    height:70px;
    padding: 5px;
    bottom: 0px;
    border: 2px solid black;
}

.navbarList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #111;
}