@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@model IEnumerable<SonOfCodWebsite.Models.ApplicationUser>

@if (User.Identity.IsAuthenticated)
{
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn" value="LogOff" />
    }    
    <ul>
        @foreach(var user in Model)
        {
            <li>@user</li>
        }
    </ul>
} else
{
    <p>Sorry, You are not allowed to view this page</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}
<p>@Html.ActionLink("Create new User", "Create")</p>