@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@model IEnumerable<SonOfCodWebsite.Models.ApplicationUser>

@if(User.Identity.IsAuthenticated)
{
    <ul>
        @foreach(var user in Model)
        {
            <li>@user</li>
        }
    </ul>
} else
{
    <p>Sorry, You are not allowed to view this page</p>

}
@Html.ActionLink("Create new User", "Create")