@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@model IEnumerable<SonOfCodWebsite.Models.ApplicationUser>

<ul>
    @foreach(var user in Model)
    {
        <li>@user</li>
    }
</ul>

@Html.ActionLink("Create new User", "Create")