@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@using System.Security.Claims

<h2>Home Page</h2>

<div class="accordion">
    <ul>
        <li>
            <div>
                <a href="/Account/SignUp">
                    <h2>Join our Family!</h2>
                    <p>Sign up for our weekly newsletter to get special deals and info about upcoming events!</p>
                </a>
            </div>
        </li>
        <li>
            <div>
                <a href="/Account/">
                    <h2>Learn About us!</h2>
                    <p>Click here to view our products and services!</p>
                </a>
            </div>
        </li>
    </ul>
</div>