<h1>Son Of Cod!</h1>
<ul class="navbarList">
    <li class="navbar">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="navbar">@Html.ActionLink("Newsletter", "SignUp", "Account")</li>
    <li class="navbar"><a href="/Account">Account</a></li>
</ul>
